@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: "Roboto Slab", serif;
}
header {
  padding: 1em;
}
.logo {
  text-align: center;
}
.logo img {
  width: 100px;
}
nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}
nav a {
  padding: 0.5rem;
  color: #000;
}
footer {
  padding: 1em;
  text-align: center;
}
.books_warp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bookcard img {
  width: 255px;
  height: 400px;
}
.bookcard {
  width: calc(255px + 2em);
  padding: 1em;
  border: 2px solid #000000;
  margin: 0 1em 2em 1em;
}
