@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,400&family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html {
  font-family: "Roboto Slab", serif;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
header {
  padding: 1em;
}
.logo {
  text-align: center;
}
.logo img {
  width: 100px;
}
nav {
  display: flex;
  justify-content: center;
  padding: 1em;
}
nav a {
  padding: 0.5rem;
}
footer {
  padding: 1em;
  text-align: center;
}
.books_warp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bookcard img {
  width: 255px;
  height: 400px;
  object-fit: cover;
}
.bookcard {
  width: calc(255px + 2em);
  padding: 1em;
  border: 2px solid #000000;
  margin: 0 1em 2em 1em;
}
.bookcard:hover {
  box-shadow: 5px 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Book Page */

.book_page {
  padding: 0 25px;
  margin-bottom: 1em;
}
.book_warp {
  display: flex;
  flex-direction: column;
}
.book_image_box img {
  width: 100%;
  box-shadow: 7px 7px;
}
.book_content {
  padding: 1em 0;
}
.book_summary {
  padding: 15px 0;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #000000;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-textarea {
  min-height: 150px;
  font-family: "Roboto Slab";
}
.form-control:active,
.form-control:focus {
  box-shadow: 5px 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.page_heading {
  text-align: center;
  margin-bottom: 1rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f3f3f3;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  font-family: "Roboto Slab";
}
.form-control-file {
  width: 100%;
}
.btn-dark {
  border: 2px solid #000000;
}
.btn-dark:hover {
  background-color: #000000;
  color: #ffffff;
}
.btn-danger {
  border: 2px solid #d73a49;
  color: #d73a49;
}
.btn-danger:hover {
  background-color: #d73a49;
  color: #ffffff;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::placeholder {
  color: #000000;
}

.divider {
  margin: 1rem 0;
}
form,
.divider {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.about_page img {
  margin-bottom: 0.5rem;
  width: 100%;
}
.about_page p {
  margin-bottom: 1rem;
}
blockquote {
  font-size: larger;
  margin-bottom: 1rem;
}

.user_profile {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .book_page {
    max-width: 1000px;
    margin: auto;
  }
  .about_page {
    max-width: 700px;
  }
  .book_warp {
    display: flex;
    flex-direction: row;
  }
  .book_image_box {
    flex: 0 0 40%;
    max-width: 40%;
    margin-right: 5%;
  }
  .add_to_wishlist {
    width: 200px;
    display: block;
  }
}
